/.idea/.idea.CSharpDefaultInterfaceRnd/.idea/.gitignore
/Common/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Consumer/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Publisher/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Consumer/obj/Debug/net7.0/apphost
/Publisher/obj/Debug/net7.0/apphost
/.idea/.idea.CSharpDefaultInterfaceRnd/.idea/aws.xml
/Common/obj/Debug/net7.0/Common.AssemblyInfo.cs
/Common/obj/Debug/net7.0/Common.AssemblyInfoInputs.cache
/Common/obj/Debug/net7.0/Common.assets.cache
/Common/obj/Debug/net7.0/Common.csproj.AssemblyReference.cache
/Common/obj/Debug/net7.0/Common.csproj.CoreCompileInputs.cache
/Common/obj/Debug/net7.0/Common.csproj.FileListAbsolute.txt
/Common/obj/Common.csproj.nuget.dgspec.json
/Common/obj/Common.csproj.nuget.g.props
/Common/obj/Common.csproj.nuget.g.targets
/Common/bin/Debug/net7.0/Common.deps.json
/Common/bin/Debug/net7.0/Common.dll
/Common/obj/Debug/net7.0/ref/Common.dll
/Common/obj/Debug/net7.0/refint/Common.dll
/Common/obj/Debug/net7.0/Common.dll
/Consumer/bin/Debug/net7.0/Common.dll
/Publisher/bin/Debug/net7.0/Common.dll
/Common/obj/Debug/net7.0/Common.GeneratedMSBuildEditorConfig.editorconfig
/Common/obj/Debug/net7.0/Common.GlobalUsings.g.cs
/Common/bin/Debug/net7.0/Common.pdb
/Common/obj/Debug/net7.0/Common.pdb
/Consumer/bin/Debug/net7.0/Common.pdb
/Publisher/bin/Debug/net7.0/Common.pdb
/Consumer/bin/Debug/net7.0/Consumer
/Consumer/obj/Debug/net7.0/Consumer.AssemblyInfo.cs
/Consumer/obj/Debug/net7.0/Consumer.AssemblyInfoInputs.cache
/Consumer/obj/Debug/net7.0/Consumer.assets.cache
/Consumer/obj/Debug/net7.0/Consumer.csproj.AssemblyReference.cache
/Consumer/obj/Debug/net7.0/Consumer.csproj.CopyComplete
/Consumer/obj/Debug/net7.0/Consumer.csproj.CoreCompileInputs.cache
/Consumer/obj/Debug/net7.0/Consumer.csproj.FileListAbsolute.txt
/Consumer/obj/Consumer.csproj.nuget.dgspec.json
/Consumer/obj/Consumer.csproj.nuget.g.props
/Consumer/obj/Consumer.csproj.nuget.g.targets
/Consumer/bin/Debug/net7.0/Consumer.deps.json
/Consumer/bin/Debug/net7.0/Consumer.dll
/Consumer/obj/Debug/net7.0/ref/Consumer.dll
/Consumer/obj/Debug/net7.0/refint/Consumer.dll
/Consumer/obj/Debug/net7.0/Consumer.dll
/Consumer/obj/Debug/net7.0/Consumer.GeneratedMSBuildEditorConfig.editorconfig
/Consumer/obj/Debug/net7.0/Consumer.genruntimeconfig.cache
/Consumer/obj/Debug/net7.0/Consumer.GlobalUsings.g.cs
/Consumer/bin/Debug/net7.0/Consumer.pdb
/Consumer/obj/Debug/net7.0/Consumer.pdb
/Consumer/bin/Debug/net7.0/Consumer.runtimeconfig.json
/.idea/.idea.CSharpDefaultInterfaceRnd/.idea/encodings.xml
/.idea/.idea.CSharpDefaultInterfaceRnd/.idea/indexLayout.xml
/Common/obj/project.assets.json
/Consumer/obj/project.assets.json
/Publisher/obj/project.assets.json
/Common/obj/project.nuget.cache
/Consumer/obj/project.nuget.cache
/Publisher/obj/project.nuget.cache
/Common/obj/project.packagespec.json
/Consumer/obj/project.packagespec.json
/Publisher/obj/project.packagespec.json
/Publisher/bin/Debug/net7.0/Publisher
/Publisher/obj/Debug/net7.0/Publisher.AssemblyInfo.cs
/Publisher/obj/Debug/net7.0/Publisher.AssemblyInfoInputs.cache
/Publisher/obj/Debug/net7.0/Publisher.assets.cache
/Publisher/obj/Debug/net7.0/Publisher.csproj.AssemblyReference.cache
/Publisher/obj/Debug/net7.0/Publisher.csproj.CopyComplete
/Publisher/obj/Debug/net7.0/Publisher.csproj.CoreCompileInputs.cache
/Publisher/obj/Debug/net7.0/Publisher.csproj.FileListAbsolute.txt
/Publisher/obj/Publisher.csproj.nuget.dgspec.json
/Publisher/obj/Publisher.csproj.nuget.g.props
/Publisher/obj/Publisher.csproj.nuget.g.targets
/Publisher/bin/Debug/net7.0/Publisher.deps.json
/Publisher/bin/Debug/net7.0/Publisher.dll
/Publisher/obj/Debug/net7.0/ref/Publisher.dll
/Publisher/obj/Debug/net7.0/refint/Publisher.dll
/Publisher/obj/Debug/net7.0/Publisher.dll
/Publisher/obj/Debug/net7.0/Publisher.GeneratedMSBuildEditorConfig.editorconfig
/Publisher/obj/Debug/net7.0/Publisher.genruntimeconfig.cache
/Publisher/obj/Debug/net7.0/Publisher.GlobalUsings.g.cs
/Publisher/bin/Debug/net7.0/Publisher.pdb
/Publisher/obj/Debug/net7.0/Publisher.pdb
/Publisher/bin/Debug/net7.0/Publisher.runtimeconfig.json
/Consumer/obj/rider.project.model.nuget.info
/Publisher/obj/rider.project.model.nuget.info
/Common/obj/rider.project.restore.info
/Consumer/obj/rider.project.restore.info
/Publisher/obj/rider.project.restore.info
